agm-map {
    height: 550px;
}
.hr{
    margin: 10px 0px;
    color: red;
}
.alarms{
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(238, 230, 230);
}
.isAlarm{
    color: red;
}

  